{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">Customer Details</h1>
<br/>
{% if user.is_authenticated %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ customer_num.name }}</strong></h5>
      <p class="card-text">{{ customer_num.phone }}<br/>{{ customer_num.email }}<br/></p>
    </div>
</div>
<br/>
<a href="{% url 'home' %}" class="btn btn-primary"> Home </a>
<a href="{% url 'delete_CustomerDetails' customer_num.id %}" class="btn btn-danger"> Delete </a>
<a href="{% url 'update_CustomerDetails' customer_num.id %}" class="btn btn-primary"> Update Record </a>
<br/>
<div style="margin-top: 20px;">
  <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Order#</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
      {% if orders %}
          {% for order in orders %}
            {{ order.description }}
          <tr>
              <td>{{ order.order_id }}</td>
              <td>{{ order.description }}</td>
              <td>{{ order.status }}</td>
          </tr>
          {% endfor %}
      {% endif %}
      </tbody>
  </table>
  <div class="text-center">
    <a href="{% url 'add_OrderDetails' %}" class="btn btn-primary">Add Order Details</a>
  </div>
   <br/>
{% endif %}
{% endblock %}