{% extends 'base.html' %}
{% load i18n %} 
{% load static %}

{% block content %}
<h1 class="text-center">{% trans "Customer Details" %}</h1>
<br/>
{% if user.is_authenticated %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ customer_num.name }}</strong></h5>
      <p class="card-text">{{ customer_num.phone }}<br/>{{ customer_num.email }}<br/></p>
    </div>
</div>
<br/>
<a href="{% url 'home' %}" class="btn btn-primary">{% trans "Home" %} </a>
<a href="{% url 'delete_CustomerDetails' customer_num.id %}" class="btn btn-danger"> {% trans "Delete" %} </a>
<a href="{% url 'update_CustomerDetails' customer_num.id %}" class="btn btn-secondary"> {% trans "Update Record" %} </a>
<br/>
<div style="margin-top: 20px;">
  <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">{% trans "Order#" %}</th>
          <th scope="col">{% trans "Description" %}</th>
          <th scope="col">{% trans "Status" %}</th>
          <th scope="col">{% trans "PDF" %}</th>
        </tr>
      </thead>
      <tbody>
      {% if orders %}
          {% for order in orders %}
          <tr>
              <td><a href="{% url 'order' order.id %}">{{order.order_id}}</a></td>
              <td>{{ order.description }}</td>
              <td>{{ order.status }}</td>
              <td><a href="{{ order.pdf_file.url }}">{% trans "2D drawing" %}</a></td>
          </tr>
          {% endfor %}
      {% else %}
          <tr>
              <td colspan="3">{% trans "No orders found for this customer." %}</td>
          </tr>
      {% endif %}
      </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <a href="{% url 'add_OrderDetails' %}" class="btn btn-primary">{% trans "Add Order" %}</a>
  </div>
<br/>
{% endif %}
{% endblock %}
