{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<h1 class="text-center">{% trans "Order Specifications" %}</h1>
<br/>
{% if user.is_authenticated %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ customer_num.name }}</strong></h5>
        <p class="card-text">
          Order ID: {{ order.order_id }}<br/>
          Status: {{ order.status }}<br/>
          PDF: {% if order.pdf_file %}
          <a href="{{ order.pdf_file.url }}" target="_blank">{% trans "2D drawing" %}</a><br/>
        {% else %}
          {% trans "No PDF available" %}
        {% endif %}
        </p>
    </div>
</div>
<br/>
<a href="{% url 'home' %}" class="btn btn-primary">{% trans "Home" %} </a>
<a href="{% url 'delete_OrderDetails' order.order_id %}" class="btn btn-danger"> {% trans "Delete" %} </a>
<a href="{% url 'update_OrderDetails' order.order_id %}" class="btn btn-secondary"> {% trans "Update Record" %} </a>
<br/>
<div style="margin-top: 20px;">
  <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">{% trans "Article" %}</th>
          <th scope="col">{% trans "Pieces" %}</th>
          <th scope="col">{% trans "Material" %}</th>
          <th scope="col">{% trans "Length (Meters)" %}</th>
          <th scope="col">{% trans "Breadth (Meters)" %}</th>
          <th scope="col">{% trans "Thickness (Meters)" %}</th>
          <th scope="col">{% trans "Quantity" %}</th>
          <th scope="col">{% trans "Price per meter (Euros)" %}</th>
          <th scope="col">{% trans "update" %}</th>
        </tr>
      </thead>
      <tbody>
      {% if orderspecs %}
          {% for orderspec in orderspecs %}
          <tr>
              <td>{{ orderspec.article }}</td>
              <td>{{ orderspec.pieces }}</td>
              <td>{{ orderspec.material }}</td>
              <td>{{ orderspec.length }}</td>
              <td>{{ orderspec.breadth }}</td>
              <td>{{ orderspec.thickness }}</td>
              <td>{{ orderspec.quantity }}</td>
              <td>{{ orderspec.pricePerMeter }}</td>
              <td><a href="{% url 'update_OrderSpecs' orderspec.pk %}" class="btn btn-secondary ml-2">{% trans "Update Order Specification" %}</a></td>
          </tr>
          {% endfor %}
      {% else %}
          <tr>
              <td colspan="8" class="text-center">{% trans "No order specifications available for this customer." %}</td>
          </tr>
      {% endif %}
      </tbody>
  </table>
  <div class="d-flex justify-content-end mt-3">
    <a href="{% url 'add_OrderSpecs' %}" class="btn btn-primary me-2">{% trans "Add Order Specs" %}</a>
  </div>
{% endif %}
{% endblock %}
