{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if not finished %}
    <!-- Display the normal header for the picking process -->
    <h3 class="text-center display-3">{% trans "Picking for Order" %} #{{ order.id }}</h3>

    <!-- Center and enlarge the picking details -->
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
        <div class="text-center">
            <!-- Highlight the item name and stock quantity -->
            <h5 class="display-3">
                {% trans "Item to Pick" %}: <span style="color: green;">{{ picking.item_to_pick }}</span>
            </h5>
            <h5 class="display-3">
                {% trans "Stock Quantity Available" %}: <span style="color: green;">{{ picking.stock_quantity }}</span>
            </h5>
            
            <!-- Display other details with colored entries -->
            <h5 class="display-3">
                {% trans "Quantity to Pick" %}: <span style="color: green;">{{ picking.quantity }}</span>
            </h5>
            
            {% if led_index is not None %}
                <p class="lead">
                    {% trans "LED Index" %}: <span style="color: green;">{{ led_index }}</span>
                </p>
            {% else %}
                <p class="lead text-danger">{% trans "No LED Mapping Found" %}</p>
            {% endif %}

            <br/>
            <div>
                {% if not last_item %}
                <a href="{% url 'next_picking' %}" class="btn btn-primary btn-lg">{% trans "Next" %}</a>
                {% else %}
                <!-- Redirect to the order details page when finished -->
                <a href="{% url 'order' order.id %}" class="btn btn-success btn-lg">{% trans "Finish" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <!-- Special styled message for "Picking List Completed" -->
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-center">
            <h1 class="display-1 font-weight-bold text-success">{% trans "Picking List Completed!" %}</h1>
            <p class="lead text-muted">{% trans "You have finished all the items in this order." %}</p>
        </div>
    </div>
{% endif %}

{% endblock %}
